*{
    margin: 0;
    padding:0;
}
body
{
  background-color: #f9f9f9;
}
.content{
  width: 1349px;
  margin: 0px auto;
}
 
/* ----------------------------HEADER------------------------*/
header{
  height: 500px;
  background-image: url('../images/latar1.jpg');
  background-repeat: no-repeat;
  padding: 20px 10px;
  margin-bottom: 10px;
  margin: 0px auto;
}

 
header h1.judul,
header h3.deskripsi{
text-align: center; 
}
/* -------------------------------MENU DROP DOWN-------------------------------- */
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  margin: auto;
  width: 1100px;
  height: 60px;
  background-color: palegoldenrod;
  background-color:rgba(0,0,0, .2);
  border: 1px; 
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  color: black;
  display: inline-block;
  font-family: Helvetica, Arial black, Verdana, sans-serif;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
  font-style: bold;
  color:whitesmoke;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: right;
  margin-right: 35px;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid skyblue;
  margin-left: -10px;
}

#cssmenu > ul > li.active > a {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0 0 10px navy;
  -moz-box-shadow: inset 0 0 10px navy;
  -webkit-box-shadow: inset 0 0 10px navy;
  background: royalblue;
  background: -moz-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, royalblue), color-stop(120%, whitesmoke));
  background: -webkit-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -o-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -ms-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: linear-gradient(to bottom, royalblue 0%, whitesmoke 120%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='royalblue', EndColorStr='whitesmoke', GradientType=0);

}
#cssmenu > ul > li:hover > a {
 border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0 0 10px navy;
  -moz-box-shadow: inset 0 0 10px navy;
  -webkit-box-shadow: inset 0 0 10px navy;
  background: royalblue;
  background: -moz-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, royalblue), color-stop(120%, whitesmoke));
  background: -webkit-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -o-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: -ms-linear-gradient(top, royalblue 0%, whitesmoke 120%);
  background: linear-gradient(to bottom, royalblue 0%, whitesmoke 120%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='royalblue', EndColorStr='whitesmoke', GradientType=0);

}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: skyblue;
  border-bottom: 1px dotted #6fc7ec;
  filter: none;
  font-size: 15px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: lightsteelblue;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: lightsteelblue;
  border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: lightslategray;
}

/* ----------------------------BANNER------------------------*/
#banner
{
  width:1100px; 
  height:400px; 
  border-radius: 5px 5px 0px 0px ;
  background-color:purple;
  margin:auto;
}

/* ----------------------------GALLERY------------------------*/
#fotoslide
{
  width:1100px; 
  height:200px; 
  background-color:pink;
  border-radius: 8px;
  margin:auto;
  margin-bottom: 30px;
  margin-top:30px; 
}

#gambar
{
  width: 190px;
  height: 179px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.16);
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 15px;
  float: left;
  margin-left: 25px;
}
#deskripsi
{
  text-align: center;
  padding: 10px 10px;
  padding-top: 5px;
  font-family: raleway;
}

/* ----------------------------KONTEN------------------------*/
#isi{
  width:1100px; 
  height:1000px; 
  background-color:palegoldenrod;
  margin:auto;
  margin-bottom: 50px;
  border-radius: 0px 0px 8px 8px;
}
#isi .judul h1{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: Tahoma;
  font-size: 36;
  color:lightgreen;
}
#isi .gambar img{
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left: 200px;
  padding-right: 100px;
  width: 700px;
  height: 300px;
}
#isi .hasil p{
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 100px;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  font-family: Tahoma;
}
#isi .hasil h4{
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left: 150px;
  padding-right: 100px;
  margin: auto;
  text-align: right;
  font-size: 15px;
  font-family: Tahoma;
}

/* ----------------------------FOOTER------------------------*/
#footer
{
  width:1349px; 
  height:400px;  
  margin: 0 auto;
  background: darkgray;
  border-top: 2px solid darkgray;
  text-align: center;
}
#footer1
{
  text-align: left;
  float:left;
  width:600px; 
  height:300px;
  background: darkgray;
  border-top: 2px solid darkgray;
}
#footer1 .link1 img 
{
  text-align: left;
  float:left;
  width:54px; 
  height:45px;
  background: darkgray;
  border-top: 2px solid darkgray;
  padding-left: 20px;
}
#footer1 .link2
{
  background-color: darkgray;
  float: left;
  padding-top:0px ;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 5px;
  margin: auto;
  text-align: left;
  font-size: 16px;
  font-family: Tahoma;
}
#footer1 .link2 a
{
  text-decoration: none;
  color: whitesmoke;
}
#footer2
{
  float: right;
  width:600px; 
  height:300px;  
  margin: 0 auto;
  background: darkgray;
  border-top: 2px solid darkgray;
  text-align: center;
}
#footer3
{
  float: left;
  width:1349px; 
  height:100px;  
  margin: 0 auto;
  background: darkgray;
  border-top: 2px solid darkgray;
  text-align: center;
}
/* ----------------------------GARIS FOOTER------------------------*/
hr.onepixel {
    margin-top: 150px;
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 0px;
    margin-bottom: 20px;
}
